@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* @import "tailwindcss"; */


.monster-ball {
  display: inline-block;
  background: linear-gradient(#CC0000 50%, #FFFFFF 50%);
  border: 1px solid #333333;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: relative;
}

.monster-ball::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 8px;
  height: 8px;
  background: #AAAAAA;
  border: 1px solid #333333;
  border-radius: 50%;
}